.login_wrap{
   min-height:80vh;
   display:flex;
   justify-content:center;
   align-items:center;
   background:#f5f6ff;
}

.login_box{
   width:330px;
   background:#fff;
   padding:35px;
   border-radius:12px;
   box-shadow:0 0 15px rgba(0,0,0,0.1);
}

.login_title{
   text-align:center;
   margin-bottom:25px;
   font-size:22px;
   font-weight:700;
}

.login_input{
   width:100%;
   padding:10px;
   border:1px solid #ddd;
   border-radius:6px;
   font-size:15px;
   margin-bottom:12px;
}

.login_btn{
   width:100%;
   padding:12px;
   background:#4c6fff;
   color:#fff;
   border:none;
   border-radius:6px;
   cursor:pointer;
   font-size:16px;
   font-weight:bold;
}
