body{
  margin: 0;
}

.list-bg {
  background: rgb(249, 250, 255);
  padding: 10px;
}
.list-item {
   background: white;
   border-radius: 10px;
   padding: 20px;
   margin-bottom: 5px;
   box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
   opacity: 1;
   transition: opacity 1s, max-height 0.5s, margin 0.5s, padding 0.5s;
   max-height: 200px;
   overflow: hidden;
}

.list-item-out {
   opacity: 0;
   max-height: 0;
   margin: 0;
   padding: 0;
}

.list-item h4 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}
.list-item p {
  color: grey;
  margin : 5px 0px;
} 

.p-20 {
  padding: 20px;
}
input {
  box-sizing: border-box;
  padding: 10px;
  display: block;
  margin-bottom: 10px;
}
button {
  padding: 10px 15px;
  background: lightgray;
  border: none;
  border-radius: 5px;
} 

a {
  text-decoration: none;
  color : black;
} 

.navbar {
  background: white;
  padding: 20px;
  /* 가로 나열을 위한 핵심 속성 */
  display: flex; 
  align-items: center; /* 세로 중앙 정렬 */
}

.navbar a {
  
  margin-right: 15px;
  text-decoration: none;
  color: black;
}

/* 로고를 왼쪽 끝에 두고 나머지를 오른쪽으로 밀고 싶다면 */
.logo {
  font-weight: bold;
  margin-right: auto; /* 로고 오른쪽의 여백을 최대로 설정 */
}